* {
  font-family: 'Nunito', sans-serif;
}

*:focus, *:focus-within {
  outline: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}

section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section div {
  height: 100%;
  width: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

section div.char {
  position: relative;
  background-color: white;
}

section div.charHead {
  width: 85px;
  height: 85px;
  border-radius: 100%;
}

section div.charBody {
  width: 130px;
  height: 215px;
  border-radius: 30px 30px 8.5px 8.5px;
}

section [name="firstHalf"] {
  background-color: #5ea1ff;
}

section [name="secondHalf"] {
  background-color: #ff80ae;
}

section #equal {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 115px;
  height: 100px;
  display: block;
  z-index: 100;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

section #equal span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20%;
  position: relative;
  width: inherit;
  height: inherit;
  border-radius: 3px;
}

section #equal span::before {
  content: '';
  display: block;
  width: 100%;
  height: 33%;
  background-color: white;
  border-radius: inherit;
}

section #equal span::after {
  content: '';
  display: block;
  width: 100%;
  height: 33%;
  background-color: white;
  border-radius: inherit;
}

section #equal:hover, section #equal:focus {
  width: 125px;
  height: 110px;
  cursor: pointer;
}

section #equal:hover ~ #wheel div, section #equal:focus ~ #wheel div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section #equal:hover ~ #wheel div:nth-child(1), section #equal:focus ~ #wheel div:nth-child(1) {
  -webkit-transform: rotate(0deg) translateX(15vw);
          transform: rotate(0deg) translateX(15vw);
}

section #equal:hover ~ #wheel div:nth-child(2), section #equal:focus ~ #wheel div:nth-child(2) {
  -webkit-transform: rotate(72deg) translateX(15vw);
          transform: rotate(72deg) translateX(15vw);
}

section #equal:hover ~ #wheel div:nth-child(3), section #equal:focus ~ #wheel div:nth-child(3) {
  -webkit-transform: rotate(144deg) translateX(15vw);
          transform: rotate(144deg) translateX(15vw);
}

section #equal:hover ~ #wheel div:nth-child(4), section #equal:focus ~ #wheel div:nth-child(4) {
  -webkit-transform: rotate(216deg) translateX(15vw);
          transform: rotate(216deg) translateX(15vw);
}

section #equal:hover ~ #wheel div:nth-child(5), section #equal:focus ~ #wheel div:nth-child(5) {
  -webkit-transform: rotate(288deg) translateX(15vw);
          transform: rotate(288deg) translateX(15vw);
}

#wheel {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 5;
  width: 100%;
  height: 100%;
}

#wheel div {
  -webkit-transition: all 10s;
  transition: all 10s;
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
  display: none;
  border-radius: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 150px;
  height: 150px;
  z-index: 10;
}

#wheel div img {
  -webkit-animation: stay 5s linear infinite;
          animation: stay 5s linear infinite;
}

#wheel div:nth-child(1) {
  background-color: #f96a6a;
}

#wheel div:nth-child(2) {
  background-color: #6af96c;
}

#wheel div:nth-child(3) {
  background-color: #6ae6f9;
}

#wheel div:nth-child(4) {
  background-color: #e6f96a;
}

#wheel div:nth-child(5) {
  background-color: #f9bb6a;
}

#wheel div:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#wheel div:nth-child(1) img {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#wheel div:nth-child(2) {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}

#wheel div:nth-child(2) img {
  -webkit-transform: rotate(-72deg);
          transform: rotate(-72deg);
}

#wheel div:nth-child(3) {
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

#wheel div:nth-child(3) img {
  -webkit-transform: rotate(-144deg);
          transform: rotate(-144deg);
}

#wheel div:nth-child(4) {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}

#wheel div:nth-child(4) img {
  -webkit-transform: rotate(-216deg);
          transform: rotate(-216deg);
}

#wheel div:nth-child(5) {
  -webkit-transform: rotate(288deg);
          transform: rotate(288deg);
}

#wheel div:nth-child(5) img {
  -webkit-transform: rotate(-288deg);
          transform: rotate(-288deg);
}

@-webkit-keyframes spin {
  to {
    rotate: 1turn;
  }
}

@keyframes spin {
  to {
    rotate: 1turn;
  }
}

@-webkit-keyframes stay {
  to {
    rotate: -1turn;
  }
}

@keyframes stay {
  to {
    rotate: -1turn;
  }
}
/*# sourceMappingURL=style.css.map */